{%- if get_user is defined and get_user.json is defined  -%}
    {%- if get_user.json.users is defined -%}
        {%- if get_user.json.users|length > 0 -%}
            {{ get_user.json.users[0] }}
        {%- else -%}
            {}
        {%- endif -%}
    {%- else -%}
        {}
    {%- endif -%}
{%- else -%}
    {}
{%- endif -%}