{%- if webmethods_apigateway_port.port_type in ("internal_http","internal_https")  -%}
    {{ webmethods_apigateway_port.port_detail.protocol }}Listener@{{ webmethods_apigateway_port.port_detail.port }}@{{ webmethods_apigateway_port.port_detail.proxyHost }}
{%- elif webmethods_apigateway_port.port_type in ("regular_http","regular_https","external_http","external_https") -%}
    {{ webmethods_apigateway_port.port_detail.protocol }}Listener@{{ webmethods_apigateway_port.port_detail.port }}@{{ webmethods_apigateway_port.port_detail.bindAddress | default('0.0.0.0',true) }}
{%- endif -%}