[{%- if get_all_keystores is defined and get_all_keystores.json is defined  -%}
    {%- if get_all_keystores.json.keystores is defined -%}
        {%- if get_all_keystores.json.keystores|length > 0 -%}
            {%- for keystore in get_all_keystores.json.keystores -%}
                {%- if loop.index0 > 0 -%},{%- endif -%}"{{ keystore.keyStoreName }}"
            {%- endfor -%}
        {%- endif -%}
    {%- endif -%}
{%- endif -%}]