[{%- if rest_response_getall is defined and rest_response_getall.json is defined  -%}
    {%- for filter_item in rest_response_filters -%}
        {% set filter_loop = loop %}
        {% if rest_response_getall.json.apiResponse is iterable and (rest_response_getall.json.apiResponse is not string and rest_response_getall.json.apiResponse is not mapping) %}
            {%- for responseitem in rest_response_getall.json.apiResponse -%}
                {%- if responseitem.api is defined -%}
                    {%- if responseitem.api.apiName == filter_item.name and responseitem.api.apiVersion == filter_item.version -%}
                        {%- if filter_loop.index0 > 0 -%},{%- endif -%}'{{ responseitem.api.id }}'
                    {%- endif -%}
                {%- endif -%}
            {%- endfor -%}
        {%- endif -%}
    {%- endfor -%}
{%- endif -%}]