[{%- if rest_response_getall is defined and rest_response_getall.json is defined  -%}
    {%- for itergroupname in rest_response_filter_names -%}
        {% set itergroupname_loop = loop %}
        {% if rest_response_getall.json.alias is iterable and (rest_response_getall.json.alias is not string and rest_response_getall.json.alias is not mapping) %}
            {%- for responseitem in rest_response_getall.json.alias -%}
                {%- if responseitem.name == itergroupname -%}
                    {%- if itergroupname_loop.index0 > 0 -%},{%- endif -%}'{{ responseitem.id }}'
                {%- endif -%}
            {%- endfor -%}
        {%- endif -%}
    {%- endfor -%}
{%- endif -%}]