


{%- if get_all_promotionmgt_stages is defined and get_all_promotionmgt_stages.json is defined  -%}
    {%- if get_all_promotionmgt_stages.json.stages is defined -%}
        {%- if get_all_promotionmgt_stages.json.stages|length > 0 -%}
            {% for existing_stage in get_all_promotionmgt_stages.json.stages %}

                {%- if webmethods_apigateway_promotions_stages is defined and webmethods_apigateway_promotions_stages|length > 0 -%}
                    {% for new_stages in webmethods_apigateway_promotions_stages %}
                        {%- if existing_stage.name == new_stages.name -%}
                            {{ stage.id }}
                        {%- endif -%}
                    {% endfor %}
                {%- endif -%}

            {% endfor %}
        {%- endif -%}
    {%- endif -%}
{%- endif -%}