{%- if __wmport_type in ("internal_http","internal_https")  -%}
    {{ __wmport_protocol }}Listener@{{ __wmport_port }}
    {%- if __wmport_proxyHost is defined and __wmport_proxyHost != "" -%}
        @{{ __wmport_proxyHost }}
    {%- endif -%}
{%- elif __wmport_type in ("regular_http","regular_https","external_http","external_https","websocket") -%}
    {{ __wmport_protocol }}Listener@{{ __wmport_port }}
    {%- if __wmport_bindAddress is defined and __wmport_bindAddress != "" -%}
        @{{ __wmport_bindAddress }}
    {%- endif -%}
{%- endif -%}