{
    "id": "{{ apigateway_update_local_user_id }}",
    "loginId": "{{ apigateway_update_local_user_id }}",
    "password": "{{ apigateway_update_local_user_password }}",
    "type": "local",
    "allowDigestAuth": false,
    "active": true,
    "systemDefined": true
}