#!/bin/sh

echo "Begin $0"

THIS=`basename $0`
THISDIR=`dirname $0`; THISDIR=`cd $THISDIR;pwd`
echo "current folder: $THISDIR"

## set params from ansible variable values
__work_dir="{{ webmethods_localrepo_target_dir }}"
if [ "x$__work_dir" == "x" ]; then
    echo "[ERROR!! __work_dir value is not set ]"
    exit 2;
fi 

__sum_install_target_path="{{ webmethods_install_sum_target_dir | default('/opt/sum', true) }}"
__sum_install_executable="{{ webmethods_localrepo_sum_filename | default('softwareagupdatemanager-linux.bin', true) }}"
__sum_fix_image="{{ webmethods_localrepo_fixes_image_filename | default('sum_image.zip', true) }}"
__sum_fix_image_path="${__work_dir}/${__sum_fix_image}"

echo "target install dir: $__sum_install_target_path"
ls -al $__sum_install_target_path

## run installer
/bin/sh ${__sum_install_executable} --accept-license -d ${__sum_install_target_path} -i ${__sum_fix_image_path}

echo "target install dir: $__sum_install_target_path"
ls -al $__sum_install_target_path

echo DONE!!