#!/bin/sh

echo "Begin $0"

THIS=`basename $0`
THISDIR=`dirname $0`; THISDIR=`cd $THISDIR;pwd`

echo "current folder: $THISDIR"
ls -al $THISDIR

## load utils functions
function replace_global { 
    local pattern=$1;
    local replacement=$2;
    local file=$3;
    sed -i 's#'"$pattern"'#'"$replacement"'#g' $file
}

## set params from ansible variable values
__work_dir="{{ webmethods_localrepo_target_dir }}"
if [ "x$__work_dir" == "x" ]; then
    echo "[ERROR!! __work_dir value is not set ]"
    exit 2;
fi 

__sum_install_path="{{ webmethods_install_sum_target_dir | default('/opt/sum', true) }}"
__sum_fix_target_path="{{ webmethods_install_target_dir | default('/opt/softwareag', true) }}"
__sum_fix_image="{{ webmethods_localrepo_fixes_image_filename | default('sum_image.zip', true) }}"
__sum_fix_script="{{ webmethods_localrepo_fixes_autoscript_filename | default('sum.script', true) }}"
__sum_fix_image_path="${__work_dir}/${__sum_fix_image}"
__sum_fix_script_path="${__work_dir}/${__sum_fix_script}"
__sum_fix_script_path_runtime="${__sum_fix_script_path}.runtime"

#create a new __installer_script_path file before the actual in-text replacement so we always re-create a new file before execution
cp -rf ${__sum_fix_script_path} ${__sum_fix_script_path_runtime}

## replace values in the webMethods Installer script
replace_global "{{ '{{' }} __sum_fix_target_path {{ '}}' }}" "${__sum_fix_target_path}" "${__sum_fix_script_path_runtime}"
replace_global "{{ '{{' }} __sum_fix_image_path {{ '}}' }}" "$__sum_fix_image_path" "${__sum_fix_script_path_runtime}"

echo "target install dir: $__sum_fix_target_path"
ls -al $__sum_fix_target_path

## run update manager
echo "Running update manager with command:"
echo "/bin/sh ${__sum_install_path}/bin/UpdateManagerCMD.sh -readScript \"${__sum_fix_script_path_runtime}\" -installFromImage \"${__sum_fix_image_path}\" -imageFile \"${__sum_fix_image_path}\""

/bin/sh ${__sum_install_path}/bin/UpdateManagerCMD.sh -readScript "${__sum_fix_script_path_runtime}" -installFromImage "${__sum_fix_image_path}" -imageFile "${__sum_fix_image_path}"
echo "DONE!!"

## run update manager cleanup
echo "Running update manager cleanup"
/bin/sh ${__sum_install_path}/bin/UpdateManagerCMD.sh -readScript "${__sum_fix_script_path_runtime}" -clearCache true

echo "DONE!!"