[Unit]
{% for k,v in full_unit_env.iteritems() %}
{{ k }}={{ v }}
{% endfor %}

[Service]
{% for k,v in full_service_env.iteritems() %}
{{ k }}={{ v }}
{% endfor %}

[Install]
{% for k,v in full_install_env.iteritems() %}
{{ k }}={{ v }}
{% endfor %}