[default]
aws_access_key_id = {{ aws_access_key | default('',true) }}
aws_secret_access_key = {{ aws_secret_key | default('',true) }}
{% if aws_session_token is defined and aws_session_token != "" %}
aws_session_token = {{ aws_session_token }}
{% endif %}