<?xml version="1.0" encoding="UTF-8" ?>
<tc:tc-config xmlns:tc="http://www.terracotta.org/config"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.terracotta.org/schema/terracotta-9.xsd">
    <tc-properties>
        <property name="l2.nha.dirtydb.backup.enabled" value="false"/>
        <property name="l2.nha.dirtydb.autoDelete" value="true"/>
        <property name="logging.maxBackups" value="20"/>
        <property name="logging.maxLogFileSize" value="50"/>
    </tc-properties>
    <servers>
        <mirror-group group-name="hagroup1">
            <server host="{{ tc_host1 }}" name="{{ tc_host1_name }}">
                <data>{{ tc_host1_data_path }}</data>
                <logs>{{ tc_host1_logs_path }}</logs>
                <index>{{ tc_host1_index_path }}</index>
                <data-backup>{{ tc_host1_data_backup_path }}</data-backup>
                <tsa-port>{{ tc_host1_tsa_port }}</tsa-port>
                <jmx-port>{{ tc_host1_jmx_port }}</jmx-port>
                <tsa-group-port>{{ tc_host1_tsa_group_port }}</tsa-group-port>
                <management-port>{{ tc_host1_management_port }}</management-port>
                <dataStorage size="{{ tc_host1_datastorage_size }}">
                    <offheap size="{{ tc_host1_offheap_size }}" />
                    {% if tc_host1_hybrid_enabled %}
                    <hybrid />
                    {% endif %}
                </dataStorage>
            </server>
            <server host="{{ tc_host2 }}" name="{{ tc_host2_name }}">
                <data>{{ tc_host2_data_path }}</data>
                <logs>{{ tc_host2_logs_path }}</logs>
                <index>{{ tc_host2_index_path }}</index>
                <data-backup>{{ tc_host2_data_backup_path }}</data-backup>
                <tsa-port>{{ tc_host2_tsa_port }}</tsa-port>
                <jmx-port>{{ tc_host2_jmx_port }}</jmx-port>
                <tsa-group-port>{{ tc_host2_tsa_group_port }}</tsa-group-port>
                <management-port>{{ tc_host2_management_port }}</management-port>
                <dataStorage size="{{ tc_host2_datastorage_size }}">
                    <offheap size="{{ tc_host2_offheap_size }}" />
                    {% if tc_host2_hybrid_enabled %}<hybrid />{% endif %}
                </dataStorage>
            </server>
        </mirror-group>
        <update-check>
            <enabled>false</enabled>
        </update-check>
        <garbage-collection>
            <enabled>true</enabled>
            <verbose>false</verbose>
            <interval>{{ tc_garbage_collection }}</interval>
        </garbage-collection>
        <restartable enabled="{{ tc_restartable_enabled | bool | lower }}"/>
        <client-reconnect-window>120</client-reconnect-window>
    </servers>
    <clients>
        <logs>%(com.softwareag.tc.client.logs.directory)</logs>
    </clients>
</tc:tc-config>