<?xml version="1.0" encoding="UTF-8" ?>
<tc:tc-config xmlns:tc="http://www.terracotta.org/config"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.terracotta.org/schema/terracotta-9.xsd">
    <tc-properties>
        <property name="l2.nha.dirtydb.backup.enabled" value="false"/>
        <property name="l2.nha.dirtydb.autoDelete" value="true"/>
        <property name="logging.maxBackups" value="20"/>
        <property name="logging.maxLogFileSize" value="50"/>
        <property name="l1.healthcheck.l2.bindPort" value="9501-9505"/>
    </tc-properties>
    <servers>
        {% for tc_ip in tc_ips %}
        <server host="{{ tc_ip }}" name="{{ tc_hostnames[loop.index0] }}">
            <data>{{ tc_common_data_path }}</data>
            <logs>{{ tc_common_logs_path }}</logs>
            <index>{{ tc_common_index_path }}</index>
            <data-backup>{{ tc_common_data_backup_path }}</data-backup>
            <tsa-port>{{ tc_common_tsa_port }}</tsa-port>
            <jmx-port>{{ tc_common_jmx_port }}</jmx-port>
            <tsa-group-port>{{ tc_common_tsa_group_port }}</tsa-group-port>
            <management-port>{{ tc_common_management_port }}</management-port>
            <dataStorage size="{{ tc_common_datastorage_size }}">
                <offheap size="{{ tc_common_offheap_size }}" />
                {% if tc_common_hybrid_enabled %}
                <hybrid />
                {% endif %}
            </dataStorage>
        </server>
        {% endfor %}
        <update-check>
            <enabled>false</enabled>
        </update-check>
        <garbage-collection>
            <enabled>true</enabled>
            <verbose>false</verbose>
            <interval>{{ tc_common_garbage_collection }}</interval>
        </garbage-collection>
        <restartable enabled="{{ tc_common_restartable_enabled | bool | lower }}"/>
        <client-reconnect-window>120</client-reconnect-window>
    </servers>
    <clients>
        <logs>%(com.softwareag.tc.client.logs.directory)</logs>
    </clients>
</tc:tc-config>