---

cluster.name: "{{ ids_cluster_name }}"
node.name: "{{ ids_node_name }}"
network.host: "{{ ids_network_host }}"
transport.tcp.port: {{ ids_transport_tcp_port }}
http.port: {{ ids_http_port }}
path.data: {{ ids_path_data }}
path.logs: {{ ids_path_logs }}
path.repo: 
{{ ids_path_archives | to_nice_yaml }}
discovery.seed_hosts:
{{ ids_discovery_seed_hosts | to_nice_yaml }}
node.master: {{ ids_node_master | bool | lower }}
node.data: {{ ids_node_data | bool | lower }}
node.ingest: {{ ids_node_ingest | bool | lower }}