SPMUsingCC=__VERSION1__,1,0_,Plan+to+use+Command+Central
com.wm.distman.utils_separator0=0
LicenseAgree=Accept
SPMAdditionalInfoDescriptionTextBlock=0
memorymodelTitle=0
APIPort.portTextField=__VERSION1__,18101
titleTextBlock=0
SPMGeneralDescriptionTextBlock=0
com.wm.distman.utils_panel0=0
SPMTitleTextBlock=0
APIPortalLicenseChooser=__VERSION1__,{{ provision_installer_license_filepath }}
APIPort.sslPortTextField=__VERSION1__,18102
InstallDir={{ provision_installer_product_dir }}
imageFile={{ provision_installer_image_filepath }}
HostName={{ ansible_hostname }}
InstallProducts=e2ei/11/WIS_10.5.0.0.222/Infrastructure/WISSharedBundles,e2ei/11/ZSL_10.5.0.0.145/Platform/ZSLSharedBundles,e2ei/11/ACDL_10.5.0.0.175/ACDL/ACDLDeployerSharedBundle,e2ei/11/TPL_10.5.0.0.12/License/license,e2ei/11/TPS_10.5.0.0.90/SCG/log4j,e2ei/11/WIS_10.5.0.0.222/Infrastructure/WISSharedLibs,e2ei/11/LIC_5.7.1.0.865/LICRepository/LICRepository,e2ei/11/OSGI_10.5.0.0.444/Platform/OSGI,e2ei/11/IS_10.5.0.0.84/integrationServer/integrationServerMigrationFrameworkLib,e2ei/11/TPS_10.5.0.0.90/SCG/loggers,e2ei/11/SPM_10.5.0.0.185/Platform/SPM,e2ei/11/LAR_10.5.0.0.249/Platform/LARSharedBundles,e2ei/11/YAP_10.5.0.0.292/YAP105/YAP,e2ei/11/TPS_10.5.0.0.90/SCG/jsw,e2ei/11/TPS_10.5.0.0.90/Platform/TPS,e2ei/11/LIC_5.7.1.0.865/LICUtil/LICUtil,e2ei/11/SJP_1.8.0.0.827/Infrastructure/sjp,e2ei/11/YAP_SPM_10.5.0.0.142/YAP/YAPspm
SPMConfigPanelPortsNotification=0
memorymodelCB=__VERSION1__,3,0,1_,2,Small+%28Consumes+1GB+memory%2C+Scale+upto+50+concurrent+users%29,Medium+%28Consumes+4GB+memory%2C+Scale+upto+100+concurrent+users%29,Large+%28Consumes+8GB+memory%2C+Scale+upto+400+concurrent+users%29
SPMAppOrService=__VERSION1__,1,0_,Register+Windows+service%2FUNIX+daemon+for+automatic+startup+of+Platform+Manager
SPMHttpsPort=__VERSION1__,8093
SPMHttpPort=__VERSION1__,8092