register external service db \
host="{{ configs_extdb.hostname }}" \
{% if configs_extdb.jdbc_url is defined and configs_extdb.jdbc_url != ""  %}
url="{{ configs_extdb.jdbc_url }}" \
{% else %}
url="jdbc:oracle:thin:@{{ configs_extdb.hostname }}:{{ configs_extdb.port }}/{{ configs_extdb.dbname }}
{%- if configs_extdb.jdbc_url_params is defined and configs_extdb.jdbc_url_params != ""  -%}
?{{ configs_extdb.jdbc_url_params }}"
{%- else -%}
"
{%- endif -%}
 \
{% endif %}
driverClassName="{{ configs_extdb.driverClassName | default('oracle.jdbc.driver.OracleDriver') }}" \
username="{{ configs_extdb.username }}" \
password="{{ configs_extdb.password }}" \
maxIdle={{ configs_extdb.maxIdle | default('15') }} \
maxActive={{ configs_extdb.maxActive | default('300') }} \
maxWait={{ configs_extdb.maxWait | default('10000') }} \
removeAbandoned={{ configs_extdb.removeAbandoned | default('false') }} \
removeAbandonedTimeout={{ configs_extdb.removeAbandonedTimeout | default('600') }} \
logAbandoned={{ configs_extdb.logAbandoned | default('true') }} \
defaultAutoCommit={{ configs_extdb.defaultAutoCommit | default('false') }} \
rollbackOnReturn={{ configs_extdb.rollbackOnReturn | default('true') }} \
jmxEnabled={{ configs_extdb.jmxEnabled | default('true') }}