register external service db \
host="{{ configs_extdb.hostname }}" \
url="jdbc:sqlserver://{{ configs_extdb.hostname }}:{{ configs_extdb.port }};DatabaseName={{ configs_extdb.dbname }}" \
driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver" \
username="{{ configs_extdb.username }}" \
password="{{ configs_extdb.password }}" \
maxIdle=15 \
maxActive=300 \
maxWait=10000 \
removeAbandoned=false \
removeAbandonedTimeout=600 \
logAbandoned=false \
initialSize=0 \
testOnBorrow=true \
validationQuery="select 1 from dual" \
defaultAutoCommit=false \
rollbackOnReturn=true \
jmxEnabled=true