---

- include_tasks: "command_{{ product_command }}.yaml"
  vars:
    service_exec_filepath: "{{ webmethods_install_dir }}/profiles/IS_{{ product_instance_name }}/bin/sagis{{ product_version_full }}"
    service_name: "sag1is{{ product_version_full }}"
    service_params:
      RemainAfterExit: "no"
      Restart: "on-failure"
      RestartSec: 90
    unit_params:
      After: "network-online.target"
      Requires: "network-online.target"