#!/bin/sh

#set the PATH to make sure the AWS CLI tool is found
PATH=$PATH:/usr/local/bin/

REMOTE_S3_BUCKET="{{ webmethods_s3repo_bucket_name }}"
REMOTE_S3_BUCKET_PREFIX="{{ webmethods_s3repo_bucket_prefix }}"
LOCAL_TARGET_DIR="{{ webmethods_localrepo_target_dir | default('/opt/softwareag/sag_install_artifacts', true) }}"
FORCE_REDOWNLOAD="{{ webmethods_s3repo_force_redownload | default(false,true) | bool | lower }}"
REMOTE_S3_BUCKET_PRODUCT_INSTALLER="{{ webmethods_s3repo_installer_filename }}"
LOCAL_PRODUCT_INSTALLER="$LOCAL_TARGET_DIR/{{ webmethods_localrepo_installer_filename }}"

if [ "x$REMOTE_S3_BUCKET" == "x" ]; then
    echo "[ERROR!! REMOTE_S3_BUCKET env is not set ]"
    exit 2;
fi 

S3_BASE_URL=""
if [ "x$REMOTE_S3_BUCKET_PREFIX" == "x" ]; then
    S3_BASE_URL="s3://${REMOTE_S3_BUCKET}"
else
    S3_BASE_URL="s3://${REMOTE_S3_BUCKET}/${REMOTE_S3_BUCKET_PREFIX}"
fi
echo "Download artifacts from S3 with S3_BASE_URL=$S3_BASE_URL"

## download installers
if [ "$FORCE_REDOWNLOAD" == "true" ] || [ ! -f $LOCAL_PRODUCT_INSTALLER ]; then
    if [ "x${REMOTE_S3_BUCKET_PRODUCT_INSTALLER}" != "x" ]; then
        echo "Downloading file at ${S3_BASE_URL}/${REMOTE_S3_BUCKET_PRODUCT_INSTALLER}"
        aws s3 cp ${S3_BASE_URL}/${REMOTE_S3_BUCKET_PRODUCT_INSTALLER} $LOCAL_PRODUCT_INSTALLER
    else
        echo "[WARN] Variable REMOTE_S3_BUCKET_PRODUCT_INSTALLER is not defined or empty...will not download."
    fi
else
    echo "$LOCAL_PRODUCT_INSTALLER already downloaded...not downloading again."
fi