<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="com.softwareag.centrasite.security.keyStore">{{ configure_centrasite_params_rr_ssl_keystore_path }}</entry>
    <entry key="com.softwareag.centrasite.security.keyStorePassword">{{ configure_centrasite_params_rr_ssl_keystore_password }}</entry>
    <entry key="com.softwareag.centrasite.security.keyStoreType">{{ configure_centrasite_params_rr_ssl_keystore_type }}</entry>
    <entry key="com.softwareag.centrasite.security.trustStore">{{ configure_centrasite_params_rr_ssl_truststore_path }}</entry>
    <entry key="com.softwareag.centrasite.security.trustStorePassword">{{ configure_centrasite_params_rr_ssl_truststore_password }}</entry>
    <entry key="com.softwareag.centrasite.security.trustStoreType">{{ configure_centrasite_params_rr_ssl_truststore_type }}</entry>
    <entry key="com.softwareag.centrasite.security.crr.trustStore">{{ configure_centrasite_params_rr_ssl_crr_truststore_path }}</entry>
    <entry key="com.softwareag.centrasite.security.crr.storePassword">{{ configure_centrasite_params_rr_ssl_crr_truststore_password }}</entry>
    <entry key="com.softwareag.centrasite.security.crr.certificate">{{ configure_centrasite_params_rr_ssl_crr_cert_path }}</entry>
    <entry key="com.softwareag.centrasite.security.crr.keyFile">{{ configure_centrasite_params_rr_ssl_crr_key_path }}</entry>
</properties>