---

## TODO configure_integrationserver_wxconfig_set_encrypted_values_changed --> because the encrypted values file gets renamed automatically, need to improve this to be able to use it

  - debug: var=wxconfig_params_encrypted_items verbosity=3

  - name: Set changed flag to false if not defined
    set_fact: 
      configure_integrationserver_wxconfig_set_encrypted_values_changed: false
    when: configure_integrationserver_wxconfig_set_encrypted_values_changed is not defined

  - name: Install the packages in IS only if the list is not empty
    block:

      - name: fail if wxconfig_params_unique_groupname not specified
        fail: 
          msg: "wxconfig_params_unique_groupname not specified...cannot create."
        when: wxconfig_params_unique_groupname is not defined or wxconfig_params_unique_groupname == ""

      - name: Make sure the encrypted dir is there
        file:
          path: "{{ wxconfig_encrypted_values_dir }}"
          state: directory

      - name: Populate wxconfig encrypted values file if the wxconfig_params_encrypted_items is defined and non empty
        template:
          src: WxConfigEncVal_template.txt.j2
          dest: "{{ wxconfig_encrypted_values_dir }}/WxConfigEncVal_{{ wxconfig_params_unique_groupname | lower }}.txt"
        register: "result_wxconfig_content_operation"

      - name: Set changed flag to true if any mutating operation did change
        set_fact: 
          configure_integrationserver_wxconfig_set_encrypted_values_changed: true
        when: result_wxconfig_content_operation.changed == true

    when: wxconfig_params_encrypted_items is defined and wxconfig_params_encrypted_items.keys()|length > 0

  - name: Print the changed var
    debug:
      var: configure_integrationserver_wxconfig_set_encrypted_values_changed
      verbosity: 2